<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if(title) { %>
        <title>
            <%= title %>
        </title>
        <% } else {%>
            <title>#feedolist</title>
            <% } %>
                <%if (metadata) { %>
                    <meta name="description" content="<%= metadata%>" />
                    <% } %>
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />

                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />

                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />

                        <link rel="stylesheet" href="/stylesheets/index.css">

                        <!-- Icons -->
                        <link href="https://www.feedolist.com/images/apple-touch-icon.png" rel="apple-touch-icon" />
                        <link href="https://www.feedolist.com/images/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
                        <link href="https://www.feedolist.com/images/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167" />
                        <link href="https://www.feedolist.com/images/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
                        <link href="https://www.feedolist.com/images/icon-hires.png" rel="icon" sizes="192x192" />
                        <link href="https://www.feedolist.com/images/icon-normal.png" rel="icon" sizes="128x128" />
                        <!--***********-->

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.js"></script>

</head>

<body>

    <!-- Navigation-->
    <%- include navigation_top.ejs%>
        <%- include navigation_bottom.ejs%>
            <!-- **** -->

            <% if(users !== 'empty') { %>
                <div style="margin-top:5px;">
                    <center>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- feedolist_top_adsense -->
                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5214926350077924" data-ad-slot="8560355697" data-ad-format="auto" data-page-url="https://www.feedolist.com"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </center>
                </div>
                <% } %>

                    <%if (title) { %>
                        <div id="users-names-h1" style="margin-top: 20px;">
                            <h1 style="font-size: 15px;">
                                <%= title%>
                            </h1>
                        </div>
                        <% } %>

                            <center>
                                <div id="resultsContainer" class="container">
                                    <%- htmlToTable%>
                                </div>
                            </center>

                            <% if(users !== 'empty') { %>
                                <div id='bottom-ads' style="margin-bottom: 200px;">
                                    <center>
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- feedolist_bottom_adsense -->
                                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5214926350077924" data-ad-slot="3990555299" data-ad-format="auto" data-page-url="https://www.feedolist.com"></ins>
                                        <script>
                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </center>
                                </div>
                                <% } %>

                                    <script>
                                        (function(i, s, o, g, r, a, m) {
                                            i['GoogleAnalyticsObject'] = r;
                                            i[r] = i[r] || function() {
                                                (i[r].q = i[r].q || []).push(arguments)
                                            }, i[r].l = 1 * new Date();
                                            a = s.createElement(o),
                                                m = s.getElementsByTagName(o)[0];
                                            a.async = 1;
                                            a.src = g;
                                            m.parentNode.insertBefore(a, m)
                                        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                                        ga('create', 'UA-85768722-1', 'auto');
                                        ga('send', 'pageview');
                                    </script>


                                    <script src="/javascripts/settings.js"></script>
                                    <script src="javascripts/multiselect.js"></script>
                                    <script src="javascripts/instagram.js"></script>
                                    <script src="javascripts/fill-users-table.js"></script>
                                    <script src="javascripts/index.js"></script>

                                   <% if(users !== 'empty') { %>
                                        <script>
                                            var users = <%-JSON.stringify(users) %>;
                                            fillMultiSelect(users);
                                        </script>

                                        <% } %>

</body>

</html>