<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark" role="navigation">

    <button class="navbar-toggler ml-auto float-xs-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContentBottom">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse custom-bottom-navbar" id="navbarSupportedContentBottom">
        <a class="nav-link mx-auto" href="/top_lists">Top 100 Lists</a>
        <a class="nav-link mx-auto" href="/top_last_lists">Top 100 Last Lists</a>

        <a class="mx-auto" href="https://play.google.com/store/apps/details?id=com.feedolist.feedolist">
            <img src="/images/google_play.png" style="  width: auto ;max-width: 100% ;height: 40px ;">
        </a>
    </div>


</nav>