<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">#feedolist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="input-group">
            <select class="custom-select" type="input" id="usersSelectionList" multiple="multiple"></select>
            <span class="input-group-btn my-auto" id="getUsersPostsBtn">
			  <button class="btn btn-default" type="button" tabindex="-1" style="margin-left: 20px;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Search</button>
            </span>
        </div>
    </div>
</nav>