<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#feedolist - Top 100 lists</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="javascripts/settings.js"></script>
    <script src="javascripts/top_lists.js"></script>

</head>

<body>

    <!-- Navigation-->
    <%- include navigation_top_empty.ejs%>
        <%- include navigation_bottom.ejs%>
            <!-- **** -->

            <div style="margin-top:5px;">
                <center>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- feedolist_top_adsense -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5214926350077924" data-ad-slot="8560355697" data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </center>
            </div>

            <center>
                <div class="table-responsive" style="width: 90%">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th style="width: 10%">Hit count</th>
                                <th style="text-align: center">Link</th>
                            </tr>
                        </thead>
                        <tbody id="top_lists">
                            <script>
                                document.getElementById("top_lists").innerHTML = fillTopListsTable();
                            </script>
                        </tbody>
                    </table>
                </div>
            </center>

            <div id='bottom-ads' style="margin-bottom: 30px;">
                <center>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- feedolist_bottom_adsense -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5214926350077924" data-ad-slot="3990555299" data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </center>
            </div>

            <script>
                (function(i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r;
                    i[r] = i[r] || function() {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                    a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-85768722-1', 'auto');
                ga('send', 'pageview');
            </script>
</body>

</html>