.nav-link {
    color: white;
}

.custom-bottom-navbar {
    text-align: center
}

.select2-selection__choice {
    background-color: #1b9dec !important;
    color: white !important;
}

.select2-selection__choice__remove {
    float: right;
    color: white !important
}

.select2-search__field {
    margin-left: 10px;
}

.selectedUser {
    size: 5px;
    margin-top: 5px !important;
}

#roundrect {
    border-radius: 50%;
}

.card-img-top {
    margin-top: 20px;
    width: 300px;
}

.col-sm {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.input-group {
    margin-top: 5px;
    flex-wrap: nowrap !important;
}

html,
body {
    overflow-x: hidden;
}

#getUsersPostsBtn {
    cursor: pointer;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px!important;
}

#resultsContainer {
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 70px;
}

#users-names-h1 {
    margin: 0 auto;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}